<nav class="navbar">
   <!-- LOGO -->
   <div class="logo">
       <a href="#">
           <span>All_In_One_App</span>
       </a>
   </div>
   <!-- NAVIGATION MENU -->
   <ul class="nav-links">
       <!-- USING CHECKBOX TRICK-->
       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li class="#"><a routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
           <li><a href="#">AgeCalculator</a></li>
           <li><a href="#">Timer</a></li>
           <li><a href="#">DigitalClock</a></li>
       </div>
   </ul>
</nav>